
  <% if logged_in? %>
   <div class="main-container">
     <h1>おすすめの銭湯・温泉をシェアしよう</h1>
     
     <%= link_to "投稿", "posts/new", class: "btn" %>
   </div>
   <div class="row">
     <div class="col-md-8 col-md-offset-2">
       <div class="home-post">
           <h1 class="post-top">投稿一覧</h1>
        <%= render 'shared/feed' %>
       </div>
      </div>
   </div>
     <% else %>
   <div class="main-container">
      <h1>あなたに合った癒しの場を見つけよう</h1>

      <%= link_to "ログイン", login_path, class: "btn" %>
     <% end %>
   </div>
  

