<% provide(:title, "My post" ) %>
<h1>MY POST</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if @user.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>