<% provide(:title, 'Post detail') %>

    <div class="post-top">
      <h1>投稿詳細</h1>
    </div>
  
    <div class = 'post-show'>
    
      <div class="show-place">
        <span><%= @post.place %></span> 
      </div>
    
      <div class="show-content">
        <span><%= @post.content %></span> 
      </div>
    
      <div class="show-img">
        <!--写真-->
      </div>
    
      <div class="show-user">
        <span class="user-name"><%= @post.user.name %>さんの投稿</span>
      </div>
    
      <div class="return-top">
        <%= link_to "トップ画面に戻る", root_url %>
      </div>
      
     </div>
  
    
    
    
    
    
    
    
    

    
    
<!--postのパーシャルをrender-->