@import "bootstrap-sprockets";
@import "bootstrap";

// basic

body {
  padding-top: 100px;
  margin: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  // margin: 0;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 0;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// header

header {
  padding: 20px 16px;
  vertical-align: center;
  margin: 0px;
}

header.navbar{
  padding-bottom: 10px;
  margin: 0px;
}

#log {
  font-family: fantasy;
  font-size: 30px;
  color: white;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
}


li {
  font-size: 1.5em;
  color: white;
}

// home 

.main-container {
  margin: 0px;
  padding: 150px;
  background-image: image-url('home_1.png');
  height:  722px;
  width:   100vw;
  background-size:cover;
}

.btn {
  text-align: center;
  text-decoration: none;
  background-color: #286090;
  color: white;
  display: block;
  width: 150px;
  height: 70px;
  margin: 80px auto 48px;
  line-height: 44px;
  border-radius: 10px;
  border: none;
}

.btn:hover{
  opacity: 0.9;
}

.post-top{
  margin-top: 40px;
  margin-bottom: 40px;
}

.alert {
  margin-bottom: 0px;
  text-align: center;
}

// footer

.footer {
  margin-top: 40px;
  padding: 20px;
  color: black;
  text-align: center;
}

div.footer  {
  display: block;
}


/* forms */


.form{
  width: 600px;
  margin: 30px auto;
  border: 1px solid gray;
}
 
.top {
  background: #343A40;;
  text-align: center;
  color: white;
  padding: 20px;
}

.form_containar{
  padding: 25px;
}

input, textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 0.25rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-top: 10px;
    padding: 10px;
}

.return-top {
  text-decoration: none;
  color: #007bff;
}

.gravatar_edit{
  margin-bottom: 50px;
}

.input, textarea{
  padding: 10px;
}


// user-profile

aside {
  section {
    padding: 10px 0;
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  width: 110px;
  border-radius: 50%;
}


// ポストパーシャル

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 40px 0;
    border-top: 2px solid #e8e8e8;
  }
  
  .user-name{
    color: black;
  }
  
  .right-container{
    padding-left: 80px;
    margin-left: 60px;
  }
  
  .post-place {
    display: block;
    color: black;
  }
  .post-content {
    padding: 15px 0;
    display: block;
    color: black;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

// マイポスト

.mypost-top{
  margin: 30px auto;
}


// ポスト 詳細

.post-show {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid gray;
}

.show-place {
  margin-top: 10px;
}

.show-content {
    margin-top: 20px;
    padding: 10px 5px 10px 10px;
    background-color: #F8F9FA;
    border: 1px solid gray;
    border-radius: 10px;
}

.show-img{
  margin-top: 20px;
  text-align : center
}

.show-user {
   margin: 40px auto;
}

.flex {
    display: flex;
}

.flex-right {
  justify-content: flex-end;
}