<header class="navbar  navbar-fixed-top navbar-inverse ">
      <div class="container">
      <%= link_to "place of healing", root_path, id:"log" %>
        <nav class="navbar">
          <ul class="nav navbar-nav  navbar-right">
            <li><%= link_to "login" , login_path %></li>
            <li><%= link_to "signup" , signup_path %></li>
          </ul>
        </nav>
      </div>
    </header>